<launch>

    <!-- Parameter to check if the user wants to use the ROS service or use ROS pub-sub -->
    <arg name="ros_service" default="true" />

    <group if="$(arg ros_service)">
        <!-- Launch the ROS service -->
        <!-- Launch the ROS server node -->
        <node name="bites_server" pkg="bites_hackathon" type="spherical_coord_server.py" output="screen" />
        <!-- Launch the ROS client node -->
        <node name="bites_client" pkg="bites_hackathon" type="rviz_visualizer_client.py" output="screen" />
    </group>

    <group unless="$(arg ros_service)">
        <!-- Launch the ROS pub-sub -->
        <!-- Launch the ROS publisher node -->
        <node name="bites_publisher" pkg="bites_hackathon" type="spherical_coord_pub.py" output="screen" />
        <!-- Launch the ROS subscriber node -->
        <node name="bites_subscriber" pkg="bites_hackathon" type="rviz_visualizer.py" output="screen" />
    </group>

    <!-- Launch RVIZ-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bites_hackathon)/rviz/with_marker_array.rviz" />

</launch>